body {
  font-family:Helvetica;
  text-align:center;
  font-size:14px;
}

#title {
  background-image: url("../images/the-flatiron-building.png");
  background-repeat:no-repeat;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: White;
  margin-bottom:0px;
}

nav {
  font-size: 18px;
  color:white;
}

h2 {
  font-size:23px;
  font-weight:bold;
  color:white;
  background-image: url("../images/the-flatiron-building.png");
  background-repeat:no-repeat;
}

h3 {
  font-size:32px;
  font-weight:bold;
}

h4, h5 {
  font-size:23px;
  font-weight:bold;
}

ul {
  list-style-type: none;
}

a:visited {
  color:white;
}

footer {
  font-size:11px;
  background-color:dimgray;
  text-align:left;
}
.footer {
  display:inline;
  margin:0;
  padding:0;
  width:30px;
}
.bottom {
  width:"250px";
}

span {
  float:left;
}
